main {
    font-family: 'Play', sans-serif;
}

button {
    float: right;
}

.displayedUser {
    padding-left: 1em;
    padding-right: 1em;
}

.brand-logo {
    margin-left: 0.5em;
    font-family: 'Play', sans-serif;
}

img {
    border: 2px solid #333;
}

th {
    font-weight: bold;
}

.sort-buttons {
    margin-left: 0.25em;
}

.sort-buttons-bottom {
    margin-top: 0.5em;
    margin-left: 0.25em;
}

.filter-icon {
    padding-top: 2em;
}

.input-field {

    input[type=text]:focus {
         border-bottom: 1px solid #1976D2;
    }

    .prefix.active {
         color: #1976D2;
    }
}
